<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src='/socket.io/socket.io.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
	<script> <% include chat %> </script>
</head>
<body>
<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<h1 class='text-center'>Chat Box</h1>
		<div class="chat_box well">
			<div class="col-md-12 in_chat">
				<div id='in_chat'></div>
			</div>
			<input type="text" id='message'>
			<!-- <textarea id='message'class='form-control'type="text" rows='2' palceholder='Text goes ghere'></textarea> -->
			<button id='btn_send'class='btn btn-success pull-right'>Send</button>
		</div>
	</div>
</div>
</body>
</html>