<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo | TmChat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src='/socket.io/socket.io.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
	<script src='chat.js'></script>
</head>
<body>
<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<h1 class='text-center'> 
			<span class='red'>Demo</span><span class='green'> Tm-Chat</span> 
			<button id='disc'class='btn btn-danger pull-right right'> Disconnect</button></h1>
		<div class="chat_box well">
			<div class="col-md-12 inChat">
				<div id='in_chat'></div>
			</div>
			<input class='form-control' type="text" id='message' placeholder='Chat chat chat...'>
			<div class="col-md-12">
			
			<div class="col-md-8"> 
				<h5 class='pull-right'>To send chat press Enter</h5>
			</div>
			<div class="col-md-4">
				<button id='btn_send'class='btn btn-success pull-right'>Send</button>
			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>